body{
    background-color:#c8e4f8;
    }
    p{
    color: #0d1f66;
    font-size: 2em;
    }
    a {
    color:#3e065f
    }
    h1{
    color: #06113c;
    }
    nav{
        background-color:#ffffff ;
        padding: 10px;
        margin: bottom 30px;
        font-size: 2em;
        color:#555555;
    }
    .input, h3, li, h2 {
        font-size: 2em;
    }
    h1{font-size: 3em;}
    .flex1{
        font-size: 1.5em;
    }
   .flex2{
        font-size: 1.5em;
    }
    nav a{
        color: #4b4b4e;
    }
    nav a:hover{
        background-color: #ebd0f9;
    }
    .quote{
        float: right;
    }
    .copyright{
        float: left;
    }
    h1{
        text-align: center;
    }
        .bioimage {max-width:100%}
    .row2{
        display:flex;
        flex-wrap: wrap; 
    }
    @media only screen and (max-width: 600px) {
        nav a{display:block}}
        span{display:none;}
        nav a{padding:10px}
        @media only screen and (min-width:600px){
        span{display:inline;} }
    .skip{
            background-color: #0037ff;
            padding: 5px;
            border: 1px solid black;
            position: absolute;
            top:30px;
            left:-999px; /*pushes it off screen*/
        }
    .skip:focus{  /* focus is a psuedo class that means the element has been tabbed to */
           left:10px;
        }
        .copyright, .quote{ 
            font-size: 1em;
        }