p {
    color:#ffae00
}
/*c hanges coloror visited link */
a:visited{
    color:#00ff00
}
a:hover{
    color:#b042f5
}
body{
    background-color:#000000;
    background-image: url("../images/pumpkin.png");
    background-repeat: no-repeat;
}

p{
    background-color:#fff4d6
}
.second{
    border:2px solid #ff0000;
}